.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
    z-index: 0;
}

.thumbnail {
    width: 100%;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-picture {
    width: 36px;
    border-radius: 50px;
}

.video-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.video-author,
.video-stats {
    font-size: 12px;
    color: #606060;
}

.video-author {
    margin-top: 8px;
    margin-bottom: 4px;
}

/* CHANNEL TOOLTIP */
.position-relative {
    position: relative;
    display: inline-block;
}

.channel-tooltip-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 300;
    bottom: -80px;  
    background-color: white;
    box-shadow: 5px 5px 17px #cdcdcd;
    padding: 13px 36px 13px 13px;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.profile-picture-tooltip {
    width: 50px;
    border-radius: 50px;
}

.info-tooltip-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.video-author-tooltip {
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin-bottom: 4px;
}

.video-stats-tooltip {
    font-size: 14px;
    color: #606060;
}

.position-relative:hover .channel-tooltip-container {
    opacity: 1;
}




.video-grid {
    display: grid;
    column-gap: 16px;
    row-gap: 40px;
}

.video-time {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
    
    font-size: 12px;
    font-weight: 500;
    padding: 4px 4px;
    border-radius: 2px;
}

.video-link {
    text-decoration: none;
    color: black;
}

.channel-link {
    text-decoration: none;
    color: #606060;
}

/* MEDIA QUERIES */
@media (max-width: 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* TEXT SIZE FOR LARGE SCREEN */
@media (min-width: 1000px) {
    .video-title {
        font-size: 16px;
        line-height: 24px;
    }

    .video-author,
    .video-stats,
    .video-time {
        font-size: 14px;
    }
}
